{% extends 'base.html.twig' %}

{% block title %}Dance index{% endblock %}

{% block body %}
    <h1>Dance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tact</th>
                <th>Difficulty</th>
                <th>DefaultBPM</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance in dances %}
            <tr>
                <td>{{ dance.id }}</td>
                <td>{{ dance.name }}</td>
                <td>{{ dance.tact }}</td>
                <td>{{ dance.difficulty }}</td>
                <td>{{ dance.defaultBPM }}</td>
                <td>
                    <a href="{{ path('app_dance_show', {'id': dance.id}) }}">show</a>
                    <a href="{{ path('app_dance_edit', {'id': dance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dance_new') }}">Create new</a>
{% endblock %}
